.baseInput {
  width: 100%;
  position: relative;
  display: block;
  min-height: 54px;
  border-bottom: 1px solid #cecece;
  transition: border-bottom-color, 0.2s;
  cursor: text;
  padding-top: 15px;

  @include mq("desktop", "desktop-small") {
    min-height: 53px;
    padding-top: 14px;
  }

  @include mq("desktop-small") {
    padding-top: 12px;
    min-height: 49px;
  }

  &__placeholder {
    opacity: 0.3;
    font-size: 18px;
    line-height: 35px;
    position: absolute;
    top: 15px;
    transition-property: font-size, line-height, top, color, opacity;
    transition-duration: 0.2s;

    @include mq("desktop", "desktop-small") {
      top: 14px;
    }

    @include mq("desktop-small") {
      top: 12px;
      font-size: 16px;
    }
  }

  &__input {
    font-size: 18px;
    min-height: 35px;
    margin-bottom: 3px;
    border: 0;
    width: 100%;
    padding: 0;
    line-height: 25px;
    background: transparent;
    display: block;

    @include mq("desktop", "desktop-small") {
      margin-bottom: 4px;
    }

    @include mq("desktop-small") {
      font-size: 16px;
      margin-bottom: 1px;
    }
  }

  &--shrink &__placeholder {
    font-size: 16px;
    line-height: 19px;
    top: 0;
    color: #d79b00;
    opacity: 0.8;

    @include mq("desktop") {
      font-size: 12px;
    }
  }

  &__clear {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 0;
    bottom: 14px;
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;
    stroke: #ff2323;

    @include mq("desktop", "desktop-small") {
      bottom: 13px;
    }

    @include mq("desktop-small") {
      bottom: 11px;
    }

    &.fade-enter,
    &.fade-leave-to {
      opacity: 0;
    }
  }

  &--invalid {
    border-bottom-color: #ff2323;
  }

  &--multiline &__input {
    min-height: 91px;
    padding-top: 5px;
    resize: vertical;
    border-bottom: 5px solid transparent;
    max-height: 160px;

    @include mq("desktop", "desktop-small") {
      min-height: 78px;
    }

    @include mq("desktop-small", "tablet") {
      min-height: 66px;
    }

    @include mq("tablet") {
      min-height: 59px;
    }
  }

  &--multiline::after {
    content: "";
    transform: rotate(-45deg);
    z-index: 1;
    position: absolute;
    border-top: 8px solid #dbdbdb;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 6px;
    right: -5px;
    pointer-events: none;
  }
}
