.paddingRight,
.baseContainer {
  padding-right: 80px;

  @include mq("desktop", "tablet") {
    padding-right: 45px;
  }

  @include mq("tablet", "phone") {
    padding-right: 30px;
  }

  @include mq("phone") {
    padding-right: 20px;
  }
}

.paddingLeft,
.baseContainer {
  padding-left: 80px;

  @include mq("desktop", "tablet") {
    padding-left: 45px;
  }

  @include mq("tablet", "phone") {
    padding-left: 30px;
  }

  @include mq("phone") {
    padding-left: 20px;
  }
}

.baseContainer {
  width: 100%;
}
