@import "./reset.scss";
@import "./settings.scss";
@import "./common/baseContainer.scss";

html,
body,
#__nuxt,
#__layout {
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

input[type=file] {
  display: none;
}

* {
  box-sizing: border-box !important;
}

.baseGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 24px;

  @include mq('desktop-small', 'tablet') {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq('tablet', 'phone') {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 32px;
  }

  @include mq('phone') {
    grid-template-columns: repeat(1, 1fr);
  }
}
